.user-layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #0f172a;
  color: white;
  padding: 20px;

  position: fixed;     /* 🔥 sidebar fix */
  height: 100vh;       /* full height */
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: #cbd5f5;
  margin-bottom: 12px;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
}

/* MAIN */
.main-content {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
  margin-left: 220px; 
}


.logout-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);

  padding: 10px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}